.text
{
  color: white;
  font-size: 30px;
}
.heading
{
  color: white;
  font-size: 40px;
}
.old_font
{
  font-family: 'UnifrakturCook', cursive;
}

.input_text
{
  font-size: 25px;
}
.radio
{
  margin-right: 10px;
}

.dark_button
{
  background-color: Transparent;
  color: white;
  font-size: 40px;
  border: 2px solid black;
  border-radius: 10px;
}
.dark_button:hover
{
  background-color: white;
  color: black;
}

.normal
{
  color: white;
  font-family: Open Sans;
  font-size: 20px;
}

.lm
{
  margin-left: 10px;
  margin-top: 10px;
}

#search_urls
{
  color: white;
  font-size: 20px;
  font-family: Open Sans;
}

.search_result_button
{
  border: none;
  background: Transparent;
  color: white;
}

.search_result_button:hover
{
  text-decoration: underline;
}
